@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
  font-family: 'Lato', sans-serif;
}
body , .main_app , .v-main__wrap , .v-application--wrap{
  background: #F4F5FA;
}
.single_form {
  margin-top: 10%;
}